.user-form-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-form-container .form-modify-add-user div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    align-items: center;
}

.form-modify-add-user {
    width: 100%;
}

.form-modify-add-user div input {
    width: 80%;
    height: 40px;
    background-color: #f7f7f9;
    border-radius: 0.2rem;
    border: 1px rgba(0, 0, 0, 0.226) solid;
    padding: 0 10px 0 10px;
}

.add-user-btn {
    width: 20%;
    height: 40px;
    background: linear-gradient(45deg,#ff8737 29.25%,#f60 100%) no-repeat fixed;
    border-radius: 0.2rem;
    border: 1px rgba(0, 0, 0, 0.226) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

@media screen and (max-width: 1036px) {
    .user-form-container {
        width: 80vw;
    }   

    .form-modify-add-user div input {
        width: 70%;
    }
}
