.cards-wrapper {
    display: flex;
    width: 40vw;
    margin-top: 20px;
    height: 35vh;
    box-shadow: 5px 0 5px #0000001a;
}

.cards-wrapper div {
    width: 66%;
}

.card-picture {
    margin-right: 20px;
    width: 33%;
    border-radius: 5px 0 0 5px;
}

.admin-control-div {
    display: flex;
    margin-top: 30px;
}

.cards-button {
    background: linear-gradient(45deg,#ff8737 29.25%,#f60 100%) no-repeat fixed;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: black;
}

.cards-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cards-wrapper {
        width: 80vw;
    }
  }

@media screen and (max-width: 768px) {
    .cards-wrapper {
        width: 80vw;
    }
  }