nav {
    background: linear-gradient(45deg,#ff8737 29.25%,#f60 100%) no-repeat fixed;
    width: 100%;
    height: 70px;
    display: flex;
}

body {
    margin: 0
}

nav div {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

.navbar-div-right {
    justify-content: flex-end;
}

.profile-picture-navbar {
    border-radius: 50%;
    height: 80%;
    margin: 0 20px 0 20px;
}

